defaultStack()
  display inline-block
  font-family 'Courier New',monospace
  letter-spacing -0.63em
  text-align center
  vertical-align top

defaultStackContent()
  display block
  letter-spacing normal
  word-spacing normal
  text-align left

stackContentAfter()
  content ""
  display block
  height 0
  clear both
  visibility hidden

stackAutoStackContent()
  text-align center

stackAuto()
  width auto

stack()
  width 100%
  overflow hidden

stackStack()
  overflow visible

stack1of2()
  width 50%

stack1of3()
  width 33.334%

stack2of3()
  width 66.667%

stack1of4()
  width 25%

stack3of4()
  width 75%

stack1of5()
  width 20%

stack2of5()
  width 40%

stack3of5()
  width 60%

stack4of5()
  width 80%
// supplement for more grid space

